#display{
    display: inline-block; /* Display the cards in a row */
    border: 2px solid black; /* Add a black border around each card */
    background-color: #e6e6e6; /* Add a solid background color to each card */
    padding: 10px; /* Add some padding around the content inside each card */
    font-family: 'Montserrat', sans-serif; /* Use an intriguing font for the text */
    margin-right: 10px; 
    box-sizing: border-box;
 
    
}